spring:
  application:
    name: java-course-spring
  datasource:
    url: jdbc:postgresql://localhost:5432/countrly?currentSchema=user_schema
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: db/changelog/db.changelog-master.yaml
    enabled: true
    #Countries Shapes path reference
shape:
  resources:
    path: C:/Users/lungu/Desktop/UTM/Personal Projects/Python image downloader/imagini